<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignments</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <style>
        nav{padding: 15px;}
        nav a{text-decoration: none; cursor: pointer}
    </style>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Home</a> |
        <a th:href="@{/student}">Student Menu</a> |
        <form action="#" th:action="@{/logout}" method="POST">
            <button>Logout</button>
        </form>
    </nav>
</header>
<div class="container">
    <h2>Assignments</h2>
    <p>Here you can manage your assignments</p>
    <div>
        <a th:href="@{/student/add-assignment}" role="button">Upload assignment</a>
        <a th:href="@{/student/view-assignments}" role="button">View assignments</a>
    </div>
</div>
</body>
</html>