<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <style>
        nav{padding: 15px;}
        nav a{text-decoration: none; cursor: pointer}
        input{width: 20px}
    </style>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Home</a> |
        <a th:href="@{/teacher}">Teacher Menu</a> |
        <form action="#" th:action="@{/logout}" method="POST">
            <button>Logout</button>
        </form>
    </nav>
</header>
<div class="container">
    <h2>Contact a Student</h2>
    <p>Here you can contact a student</p>
    <form>
        <label>Student id: </label> <input type="text">
        <textarea rows="15" cols="15"></textarea>
        <button>Send message</button>
    </form>
</div>
</body>
</html>