<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Management</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <style>
        nav{padding: 15px;}
        nav a{text-decoration: none; cursor: pointer}
    </style>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Home</a> |
        <a th:href="@{/teacher/manage-grades}">Grades Management</a> |
        <form action="#" th:action="@{/logout}" method="POST">
            <button>Logout</button>
        </form>
    </nav>
</header>
<div class="container">
    <h2>Delete a grade</h2>
    <p>Here you can delete a grade</p>
    <form>
        <label>Student id:</label><input type="text">
        <label>Course:</label><input type="text">
        <label>Grade:</label><input type="text">
        <button>Delete</button>
    </form>

</div>
</body>
</html>