<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <style>
        nav{padding: 15px;}
        nav a{text-decoration: none; cursor: pointer}
    </style>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Home</a> |
        <a th:href="@{/teacher}">Teacher Menu</a> |
        <form action="#" th:action="@{/logout}" method="POST">
            <button>Logout</button>
        </form>
    </nav>
</header>
<div class="container">
    <h2>Grades Management</h2>
    <p>Here you can manage grades</p>
    <div>
        <a th:href="@{/teacher/give-grade}" role="button">Give a grade</a>
        <a th:href="@{/teacher/update-grade}" role="button">Update a grade</a>
        <a th:href="@{/teacher/delete-grade}" role="button">Delete a grade</a>
    </div>
</div>
</body>
</html>