<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <style>
        .error{color: red}
        input{width: 50px;}
    </style>
</head>
<body>
<div class="container">
    <h2>Login Page</h2>
    <form action="#" th:action="@{/authenticate}" method="POST">
        <div th:if="${param.error}">
            <i class="error">
                You entered an invalid username or password
            </i>
        </div>
        <p>
            <label>Username: </label><input type="text" name="username"/>
        </p>
        <p>
            <label>Password: </label><input type="password" name="password"/>
        </p>
        <button>Login</button>
    </form>
</div>
</body>
</html>