<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <style>
        nav{padding: 15px;}
        nav a{text-decoration: none; cursor: pointer}
    </style>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Home</a> |
        <a th:href="@{/teacher/manage-courses}">Courses Management</a> |
        <a th:href="@{/teacher/manage-grades}">Grades Management</a> |
        <a th:href="@{/teacher/contact-student}">Contact a student</a> |
        <form action="#" th:action="@{/logout}" method="POST">
            <button>Logout</button>
        </form>
    </nav>
</header>
<div class="container">
    <h2>Teacher Profile</h2>
    <p>Hi Teacher, here you can do all your admin stuff</p>
</div>
</body>
</html>